<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		  <title><%= title %></title>
		
 <!-- Required meta tags -->
    <meta charset="utf-8">

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<!--     <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="UTF-8">
<meta name="description" content="sotre">
<meta name="keywords" content="">
<meta name="author" content="">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">  -->
</head>
	<body>
	<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" href="/">
	<%= title %>
	</a>
	<ul class="list-unstyled list-inline pull-right">
	</nav>

		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-6">
			<h3>Aggregation View</h3>
				<div class="dropdown">
<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Limit
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
<a class="dropdown-item" href="/<%=page%>-1">1</a>
<a class="dropdown-item" href="/<%=page%>-2">2</a>
<a class="dropdown-item" href="/<%=page%>-3">3</a>
<a class="dropdown-item" href="/<%=page%>-5">5</a>
<a class="dropdown-item" href="/<%=page%>-10">10</a>
</div>
</div>
		
		<table class="table  table-condensed" width="100%"  >
					<thead>
				<tr>
				<th>Sr</th>
				 <th>Order_id</th>
				 <th>Email</th>
				  <th>title</th>
				   <th>qty</th>
				      <th>price</th>
				</tr>
				    </thead>
				    <tbody>
						<% if(result.length){ 
				    for(var i = 0;i < result.length;i++) { %>
						<tr>
						<td><%=i+1%></td>
						<td><%=result[i]._id%></td>
						 <td><%=result[i].cust%></td>
						  <td><%=result[i].title%></td>
						    <td><%=result[i].qty%></td>
						      <td><%=result[i].price%></td>
				</tr>
				       	<%}}%>
				    </tbody>
				  </table>

<nav aria-label="Page navigation example">
<ul class="pagination">
<li class="page-item"><a class="page-link" href="/1-<%=limit%>">First</a></li>
<li class="page-item"><%

if(page!=1){ 
var a=parseInt(page)-1;
%>
<a class="page-link" href="/<%=a%>-<%=limit%>">Previous</a>

<%
}
%></li>
<!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
<li class="page-item"><a class="page-link" href="#">2</a></li>
<li class="page-item"><a class="page-link" href="#">3</a></li> -->
<li class="page-item">
<%if(pages!=page){ 
page=parseInt(page)+1;
%>
<a class="page-link" href="/<%=page%>-<%=limit%>">Next</a>
<%
}
%>
</li>
<li class="page-item"><a class="page-link" href="/<%=pages%>-<%=limit%>">Last</a></li>
</ul>
</nav>



Total: <%=total%>
		</div>
				<div class="col-md-3">
			</div>
		</div>
	</body>
</html>
